In [93]:
import numpy as np
import pandas as pd

In [94]:
data=pd.read_excel("cutoff_excel.xlsx")

pd.set_option('max_colwidth',1500)
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,"1002 - Government College of Engineering, Amravati\n100219110 - Civil Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,GOPENS,NaN,GSCS,NaN,GSTS,NaN,GVJS,NaN,GNT2S,...,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN,NaN
2,I,9698\n(95.4813409),NaN,16599\n(91.9454241),NaN,28642\n(83.7510773),NaN,11127\n(94.7976941),NaN,19612\n(90.2192884),...,11580\n(94.5663116),22466\n(88.4395617),29243\n(83.2108225),15132\n(92.7416843),23463\n(87.7548286),5336\n(97.5366265),NaN,NaN,NaN,NaN
3,100224210 - Computer Science and Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,GOPENS,NaN,GSCS,NaN,GSTS,NaN,GVJS,NaN,GNT1S,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,PWDSCS,PWDOBCS,NaN,DEFOPENS,EWS,TFWS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19048,"693861210F - Mechanical Engineering\nStatus: Home University : Dr. Babasaheb Ambedkar Technological University,Lonere\nHome University Seats Allotted to Home University Candidates",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19049,NaN,LOPENH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19050,I,69650\n(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19051,"Legends: Starting character G-General, L-Ladies, End character H-Home University, O-Other than Home University,S-State Level, AI- All India Seat\n. Maharashtra State Seats - Cut Off Indicates Maharashtra State General Merit No.; Figures in bracket Indicates Merit Percentile.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
for i in range(1,28):
    col_name='Unnamed: '+str(i)
    print(data[col_name].value_counts(dropna=False))
    print("**"*50)

NaN                    8624
GOPENH                 1683
GOPENO                 1458
TFWS                    446
EWS                     226
                       ...
81547\n(10.3716605)       1
85885\n(2.8468385)        1
77333\n(15.9929173)       1
24915\n(86.7069082)       1
85126\n(4.3281939)        1
Name: Unnamed: 1, Length: 5267, dtype: int64
****************************************************************************************************
NaN                   19046
EWS                       2
321\n(99.8207600)         1
-99.3677716               1
TFWS                      1
1266                      1
1268\n(99.3670474)        1
Name: Unnamed: 2, dtype: int64
****************************************************************************************************
NaN                    11954
LOPENH                   606
GSCH                     537
LOPENO                   468
GSCO                     404
                       ...
52641\n(51.6968055)        1
43313\n(66.8688398)        1
26413\n(85.5836707)        1
32411\n(80.1948828)        1
4495\n(97.9168326)         1
Name: Unnamed: 3, Length: 3632, dtype: int64
****************************************************************************************************
NaN                    19049
ORPHAN                     2
54715\n(48.0511721)        1
64674\n(30.3715881)        1
Name: Unnamed: 4, dtype: int64
****************************************************************************************************
NaN                    15116
GOBCH                    160
GOBCO                    156
GSTH                     138
TFWS                     125
                       ...
63521\n(32.2360464)        1
38606\n(73.2081429)        1
55330\n(46.9253999)        1
44481\n(65.1948466)        1
66991\n(27.0507593)        1
Name: Unnamed: 5, Length: 2026, dtype: int64
****************************************************************************************************
NaN                  19049
TFWS                     2
25\n(99.9887749)         1
247\n(99.8580564)        1
Name: Unnamed: 6, dtype: int64
****************************************************************************************************
NaN                    15983
GOBCH                    143
GOBCO                    127
LOPENH                   116
GNT2H                    100
                       ...
45165\n(64.0640050)        1
51906\n(52.9869716)        1
65497\n(29.1313920)        1
38771\n(73.0060905)        1
85872\n(2.8645814)         1
Name: Unnamed: 7, Length: 1587, dtype: int64
****************************************************************************************************
NaN    19053
Name: Unnamed: 8, dtype: int64
****************************************************************************************************
NaN                    16498
LOPENH                   138
GOBCH                    129
LOPENO                   103
GOBCO                     95
                       ...
83019\n(8.0082269)         1
26205\n(85.7415468)        1
41138\n(70.0292578)        1
18570\n(90.8388433)        1
72921\n(20.7856869)        1
Name: Unnamed: 9, Length: 1328, dtype: int64
****************************************************************************************************
NaN                    16871
LOPENH                   101
GSEBCH                   100
GOBCH                     95
LOPENO                    89
                       ...
13952\n(93.3721023)        1
59719\n(38.8548916)        1
85177\n(4.2101490)         1
85992\n(2.6212495)         1
47987\n(59.7966440)        1
Name: Unnamed: 10, Length: 1137, dtype: int64
****************************************************************************************************
NaN                    17199
LOPENH                   113
LOPENO                    86
GSEBCH                    80
GNT3S                     67
                       ...
40968\n(70.2541225)        1
33351\n(79.2642831)        1
74968\n(18.6670336)        1
41231\n(69.9173685)        1
26686\n(85.3776352)        1
Name: Unnamed: 11, Length: 968, dtype: int64
****************************************************************************************************
NaN                    17506
LOPENH                    88
LSCH                      79
LOBCH                     69
GOBCS                     67
                       ...
31404\n(81.1714693)        1
78990\n(13.9492189)        1
73523\n(20.1802539)        1
28663\n(83.7311617)        1
28960\n(83.4813120)        1
Name: Unnamed: 12, Length: 810, dtype: int64
****************************************************************************************************
NaN                    17769
LOBCH                     73
LSCH                      72
GSEBCS                    67
LOPENH                    58
                       ...
5838\n(97.3088650)         1
57369\n(43.1218905)        1
43258\n(66.9611755)        1
61790\n(35.0521063)        1
5517\n(97.4529812)         1
Name: Unnamed: 13, Length: 687, dtype: int64
****************************************************************************************************
NaN                    18021
LOBCH                     71
LOPENS                    67
LSCH                      54
LSCS                      43
                       ...
22522\n(88.4051621)        1
8286\n(96.1581078)         1
32496\n(80.1137722)        1
21297\n(89.2072159)        1
39242\n(72.4437476)        1
Name: Unnamed: 14, Length: 553, dtype: int64
****************************************************************************************************
NaN                    18230
LSCS                      66
LOBCH                     54
LSEBCH                    46
LSEBCO                    27
                       ...
16450\n(92.0316042)        1
55399\n(46.7917847)        1
55070\n(47.3610075)        1
64648\n(30.4038151)        1
53985\n(49.3666853)        1
Name: Unnamed: 15, Length: 441, dtype: int64
****************************************************************************************************
NaN                    18439
LSTS                      48
LSEBCH                    38
LOBCH                     30
LNT2H                     25
                       ...
13164\n(93.7649819)        1
73894\n(19.7852017)        1
37736\n(74.2727200)        1
26601\n(85.4406408)        1
34283\n(78.2887828)        1
Name: Unnamed: 16, Length: 333, dtype: int64
****************************************************************************************************
NaN                    18555
LVJS                      33
LOBCH                     28
LNT2S                     27
LSEBCH                    27
                       ...
15758\n(92.3980504)        1
29340\n(83.1311602)        1
66954\n(27.1010914)        1
41491\n(69.5125396)        1
84254\n(5.9015230)         1
Name: Unnamed: 17, Length: 274, dtype: int64
****************************************************************************************************
NaN                    18636
LNT2S                     30
LOBCS                     27
LSEBCH                    24
LOBCH                     23
                       ...
17053\n(91.6919534)        1
34184\n(78.3894469)        1
19134\n(90.5172976)        1
87017\n(0.4298140)         1
3974\n(98.1453184)         1
Name: Unnamed: 18, Length: 231, dtype: int64
****************************************************************************************************
NaN                    18705
LOBCS                     37
LSEBCS                    27
LSEBCH                    20
TFWS                      13
                       ...
DEFSCS                     1
8748\n(95.9397609)         1
3699\n(98.2691570)         1
9148\n(95.7406053)         1
57101\n(43.6871302)        1
Name: Unnamed: 19, Length: 195, dtype: int64
****************************************************************************************************
NaN                    18788
LSEBCS                    35
PWDOPENS                  15
EWS                       15
LOBCS                     13
                       ...
29502\n(82.9870440)        1
32293\n(80.3165487)        1
3801\n(98.2257048)         1
7881\n(96.3500214)         1
39779\n(71.7796543)        1
Name: Unnamed: 20, Length: 155, dtype: int64
****************************************************************************************************
NaN                    18835
PWDOPENS                  26
EWS                       15
TFWS                      14
LSEBCS                    12
                       ...
22301\n(88.5561583)        1
21510\n(89.0757733)        1
6199\n(97.1379533)         1
72359\n(21.3302869)        1
82087\n(9.5496911)         1
Name: Unnamed: 21, Length: 125, dtype: int64
****************************************************************************************************
NaN                    18877
EWS                       18
TFWS                      14
PWDOBCS                   11
PWDOPENS                   9
                       ...
8558\n(96.0313724)         1
4652\n(97.8487576)         1
15646\n(92.4603318)        1
11748\n(94.4819420)        1
DEFSTS                     1
Name: Unnamed: 22, Length: 106, dtype: int64
****************************************************************************************************
NaN                    18913
EWS                       21
TFWS                      18
PWDOBCS                    7
DEFOPENS                   6
                       ...
54466\n(48.4082038)        1
6775\n(96.8663775)         1
76178\n(17.2696856)        1
7225\n(96.6574452)         1
767\n(99.5919121)          1
Name: Unnamed: 23, Length: 82, dtype: int64
****************************************************************************************************
NaN    19053
Name: Unnamed: 24, dtype: int64
****************************************************************************************************
NaN                    18949
TFWS                      21
EWS                       19
DEFOPENS                   4
PWDOBCS                    3
                       ...
83939\n(6.4790742)         1
DEFSCS                     1
10782\n(94.9628122)        1
5327\n(97.5402475)         1
18671\n(90.7765619)        1
Name: Unnamed: 25, Length: 62, dtype: int64
****************************************************************************************************
NaN                    18991
TFWS                      19
EWS                        6
PWDOBCS                    3
DEFOBCS                    2
3099\n(98.5342149)         1
1696\n(99.1715128)         1
5052\n(97.6687934)         1
1416\n(99.2971619)         1
3545\n(98.3372320)         1
5255\n(97.5739229)         1
5348\n(97.5293845)         1
3916\n(98.1717518)         1
3166\n(98.5056089)         1
7945\n(96.3199670)         1
602\n(99.6697638)          1
5153\n(97.6238929)         1
3965\n(98.1496636)         1
1637\n(99.1975841)         1
638\n(99.6520209)          1
1993\n(99.0415185)         1
296\n(99.8330714)          1
8836\n(95.8970329)         1
9836\n(95.4071102)         1
914\n(99.5245613)          1
2588\n(98.7699427)         1
1401\n(99.3029555)         1
DEFOPENS                   1
8218\n(96.1914211)         1
1638\n(99.1972220)         1
3207\n(98.4853313)         1
14471\n(93.1041475)        1
42698\n(67.8287697)        1
16060\n(92.2365534)        1
5633\n(97.4004765)         1
10306\n(95.1880391)        1
22529\n(88.4004548)        1
Name: Unnamed: 26, dtype: int64
****************************************************************************************************
NaN                    19029
TFWS                       6
EWS                        3
PWDSEBCS                   2
2477\n(98.8170159)         1
425\n(99.7566681)          1
21490\n(89.0877226)        1
644\n(99.6494862)          1
DEFOPENS                   1
5174\n(97.6144782)         1
8247\n(96.1769371)         1
3748\n(98.2467067)         1
2601\n(98.7641491)         1
82731\n(8.5003223)         1
4352\n(97.9798382)         1
942\n(99.5097152)          1
4410\n(97.9534048)         1
Name: Unnamed: 27, dtype: int64
****************************************************************************************************

In [96]:
data.drop('Unnamed: 2',axis=1,inplace=True)
data.drop('Unnamed: 4',axis=1,inplace=True)
data.drop('Unnamed: 6',axis=1,inplace=True)
data.drop('Unnamed: 8',axis=1,inplace=True)
data.drop('Unnamed: 24',axis=1,inplace=True)

In [97]:
cols = []
count = 1
for column in data.columns:
    cols.append(count)
    count+=1
    continue
    
data.columns = cols

In [98]:
data

,1,2,3,4,5,6,7,8,9,10,...,14,15,16,17,18,19,20,21,22,23
0,"1002 - Government College of Engineering, Amravati\n100219110 - Civil Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN
2,I,9698\n(95.4813409),16599\n(91.9454241),28642\n(83.7510773),11127\n(94.7976941),19612\n(90.2192884),10381\n(95.1547258),11430\n(94.6416286),14127\n(93.2804907),8428\n(96.0918433),...,11019\n(94.8483883),11580\n(94.5663116),22466\n(88.4395617),29243\n(83.2108225),15132\n(92.7416843),23463\n(87.7548286),5336\n(97.5366265),NaN,NaN,NaN
3,100224210 - Computer Science and Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,GOPENS,GSCS,GSTS,GVJS,GNT1S,GNT2S,GNT3S,GOBCS,GSEBCS,...,LNT1S,LNT2S,LOBCS,LSEBCS,PWDOPENS,PWDSCS,PWDOBCS,DEFOPENS,EWS,TFWS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19048,"693861210F - Mechanical Engineering\nStatus: Home University : Dr. Babasaheb Ambedkar Technological University,Lonere\nHome University Seats Allotted to Home University Candidates",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19049,NaN,LOPENH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19050,I,69650\n(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19051,"Legends: Starting character G-General, L-Ladies, End character H-Home University, O-Other than Home University,S-State Level, AI- All India Seat\n. Maharashtra State Seats - Cut Off Indicates Maharashtra State General Merit No.; Figures in bracket Indicates Merit Percentile.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
#extra_row_01=data.index[data[1]=="II"].tolist()
#data.drop(extra_row_01,inplace=True)

extra_row_02=data.index[data[1]=='Legends: Starting character G-General, L-Ladies, End character H-Home University, O-Other than Home University,S-State Level, AI- All India Seat\n. Maharashtra State Seats - Cut Off Indicates Maharashtra State General Merit No.; Figures in bracket Indicates Merit Percentile.'].tolist()
data.drop(extra_row_02,inplace=True)

extra_row_03=data.index[data[1]=='Other Than Home University Seats Allotted to Other Than Home University Candidates'].tolist()
data.drop(extra_row_03,inplace=True)

extra_row_04=data.index[data[1]=='Home University Seats Allotted to Other Than Home University Candidates'].tolist()
data.drop(extra_row_04,inplace=True)

extra_row_05=data.index[data[1]=='State Level'].tolist()
data.drop(extra_row_05,inplace=True)

extra_row_06=data.index[data[1]=='Other Than Home University Seats Allotted to Home University Candidates'].tolist()
data.drop(extra_row_06,inplace=True)

#extra_row07=data.index[data[1]=='TFWS'].tolist()
#data.drop(extra_row_07,inplace=True)

In [100]:
data.fillna(" ",inplace=True)

In [101]:
b_01 = data[(data[1] == " ") & (data[2] == " ")&(data[3] == " ")&(data[4] == " ")&(data[5] == " ")&(data[6] == " ")&(data[7] == " ")&(data[8] == " ")].index.values.tolist()

data.drop(b_01,inplace=True)

In [102]:
data.reset_index(drop=True,inplace=True)

In [103]:
data

,1,2,3,4,5,6,7,8,9,10,...,14,15,16,17,18,19,20,21,22,23
0,"1002 - Government College of Engineering, Amravati\n100219110 - Civil Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level",,,,,,,,,,...,,,,,,,,,,
1,,GOPENS,GSCS,GSTS,GVJS,GNT2S,GNT3S,GOBCS,GSEBCS,LOPENS,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,,,
2,I,9698\n(95.4813409),16599\n(91.9454241),28642\n(83.7510773),11127\n(94.7976941),19612\n(90.2192884),10381\n(95.1547258),11430\n(94.6416286),14127\n(93.2804907),8428\n(96.0918433),...,11019\n(94.8483883),11580\n(94.5663116),22466\n(88.4395617),29243\n(83.2108225),15132\n(92.7416843),23463\n(87.7548286),5336\n(97.5366265),,,
3,100224210 - Computer Science and Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level,,,,,,,,,,...,,,,,,,,,,
4,,GOPENS,GSCS,GSTS,GVJS,GNT1S,GNT2S,GNT3S,GOBCS,GSEBCS,...,LNT1S,LNT2S,LOBCS,LSEBCS,PWDOPENS,PWDSCS,PWDOBCS,DEFOPENS,EWS,TFWS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12865,,LOPENH,,,,,,,,,...,,,,,,,,,,
12866,I,73173\n(20.5318540),,,,,,,,,...,,,,,,,,,,
12867,"693861210F - Mechanical Engineering\nStatus: Home University : Dr. Babasaheb Ambedkar Technological University,Lonere\nHome University Seats Allotted to Home University Candidates",,,,,,,,,,...,,,,,,,,,,
12868,,LOPENH,,,,,,,,,...,,,,,,,,,,
12869,I,69650\n(24.0098347),,,,,,,,,...,,,,,,,,,,

In [110]:
final_dict = {}
import re

for i in range(0,data.shape[0]):
    try:
        m = data.iloc[i:i+3]
        m = m.values

        text = " ".join([str(k) for k in m[:,0]]).strip()
        values_01 = " ".join(m[:,1]).strip()
        values_02 = " ".join(m[:,2]).strip()
        values_03 = " ".join(m[:,3]).strip()
        values_04 = " ".join(m[:,4]).strip()
        values_05 = " ".join(m[:,5]).strip()
        values_06 = " ".join(m[:,6]).strip()
        values_07 = " ".join(m[:,7]).strip()
        values_08 = " ".join(m[:,8]).strip()
        values_09 = " ".join(m[:,9]).strip()
        values_10 = " ".join(m[:,10]).strip()
        values_11 = " ".join(m[:,11]).strip()
        values_12 = " ".join(m[:,12]).strip()
        values_13 = " ".join(m[:,13]).strip()
        values_14 = " ".join(m[:,14]).strip()
        values_15 = " ".join(m[:,15]).strip()
        values_16 = " ".join(m[:,16]).strip()
        values_17 = " ".join(m[:,17]).strip()
        values_18 = " ".join(m[:,18]).strip()
        values_19 = " ".join(m[:,19]).strip()
        values_20 = " ".join(m[:,20]).strip()
        values_21 = " ".join(m[:,21]).strip()
        values_22 = " ".join(m[:,22]).strip()
        values_23 = " ".join(m[:,23]).strip()
        print(text)

        text = text.split("\n")
        
        vals_01 = values_01.split("\n")
        vals_02 = values_02.split("\n")
        vals_03 = values_03.split("\n")
        vals_04 = values_04.split("\n")
        vals_05 = values_05.split("\n")
        vals_06 = values_06.split("\n")
        vals_07 = values_07.split("\n")
        vals_08 = values_08.split("\n")
        vals_09 = values_09.split("\n")
        vals_10 = values_10.split("\n")
        vals_11 = values_11.split("\n")
        vals_12 = values_12.split("\n")
        vals_13 = values_13.split("\n")
        vals_14 = values_14.split("\n")
        vals_15 = values_15.split("\n")
        vals_16 = values_16.split("\n")
        vals_17 = values_17.split("\n")
        vals_18 = values_18.split("\n")
        vals_19 = values_19.split("\n")
        vals_20 = values_20.split("\n")
        vals_21 = values_21.split("\n")
        vals_22 = values_22.split("\n")
        vals_23 = values_23.split("\n")
    
        final_dict[i] =  {}
    
        if len(text) == 4:
            final_dict[i]['College_code'] = re.findall("[0-9]+",text[0])[0]
            final_dict[i]['College_name'] = " ".join(re.findall("[a-zA-Z,]+",text[0]))
            final_dict[i]['Subject_code'] = re.findall("[0-9]+",text[1])[0]
        
            final_dict[i]['Subject_name'] = " ".join(re.findall("[a-zA-Z,]+",text[1]))
            
            final_dict[i]['Home University'] = " ".join(re.findall("[a-zA-Z,]+",text[2].split("Home University")[1]))

            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_01[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_01[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_01[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_02[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_02[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_02[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_03[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_03[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_03[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_04[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_04[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_04[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_05[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_05[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_05[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_06[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_06[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_06[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_07[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_07[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_07[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_08[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_08[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_08[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_09[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_09[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_09[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_10[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_10[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_10[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_11[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_11[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_11[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_12[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_12[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_12[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_13[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_13[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_13[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_14[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_14[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_14[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_15[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_15[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_15[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_16[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_16[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_16[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_17[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_17[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_17[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_18[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_18[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_18[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_19[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_19[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_19[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_20[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_20[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_20[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_21[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_21[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_21[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_22[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_22[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_22[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_23[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_23[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_23[1])[0]
            
            
            
        elif len(text) == 3:
#           print(text)
            final_dict[i]['College_code'] = np.nan
            final_dict[i]['College_name'] = np.nan

            final_dict[i]['Subject_code'] = re.findall("[0-9]+",text[0])[0]
            final_dict[i]['Subject_name'] = " ".join(re.findall("[a-zA-Z,]+",text[0]))

            final_dict[i]['Home University'] = " ".join(re.findall("[a-zA-Z,]+",text[1].split("Home University")[1]))

                
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_01[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_01[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_01[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_02[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_02[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_02[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_03[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_03[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_03[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_04[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_04[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_04[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_05[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_05[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_05[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_06[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_06[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_06[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_07[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_07[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_07[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_08[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_08[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_08[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_09[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_09[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_09[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_10[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_10[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_10[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_11[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_11[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_11[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_12[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_12[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_12[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_13[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_13[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_13[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_14[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_14[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_14[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_15[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_15[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_15[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_16[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_16[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_16[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_17[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_17[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_17[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_18[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_18[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_18[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_19[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_19[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_19[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_20[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_20[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_20[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_21[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_21[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_21[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_22[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_22[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_22[1])[0]
            
            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals_23[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals_23[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals_23[1])[0]
        else:
            pass
    except Exception as e:
        pass

In [108]:
data_01 = pd.DataFrame.from_records(final_dict).T.dropna(axis=0,how="all")
#data_01 = data.drop_duplicates(['Subject_code','Subject_name'])

In [109]:
data_01

Empty DataFrame
Columns: []
Index: []

In [36]:
data.to_csv(r"data_bonus.csv",index=False)