# Importing Required Libraries

In [233]:
import numpy as np
import pandas as pd

In [235]:
data=pd.read_excel("cutoff_excel.xlsx")

pd.set_option('max_colwidth',1500)
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,"1002 - Government College of Engineering, Amravati\n100219110 - Civil Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,GOPENS,NaN,GSCS,NaN,GSTS,NaN,GVJS,NaN,GNT2S,...,LOBCS,LSEBCS,PWDOPENS,DEFOPENS,EWS,TFWS,NaN,NaN,NaN,NaN
2,I,9698\n(95.4813409),NaN,16599\n(91.9454241),NaN,28642\n(83.7510773),NaN,11127\n(94.7976941),NaN,19612\n(90.2192884),...,11580\n(94.5663116),22466\n(88.4395617),29243\n(83.2108225),15132\n(92.7416843),23463\n(87.7548286),5336\n(97.5366265),NaN,NaN,NaN,NaN
3,100224210 - Computer Science and Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,GOPENS,NaN,GSCS,NaN,GSTS,NaN,GVJS,NaN,GNT1S,...,LNT2S,LOBCS,LSEBCS,PWDOPENS,PWDSCS,PWDOBCS,NaN,DEFOPENS,EWS,TFWS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19048,"693861210F - Mechanical Engineering\nStatus: Home University : Dr. Babasaheb Ambedkar Technological University,Lonere\nHome University Seats Allotted to Home University Candidates",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19049,NaN,LOPENH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19050,I,69650\n(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19051,"Legends: Starting character G-General, L-Ladies, End character H-Home University, O-Other than Home University,S-State Level, AI- All India Seat\n. Maharashtra State Seats - Cut Off Indicates Maharashtra State General Merit No.; Figures in bracket Indicates Merit Percentile.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [236]:
print(data['Unnamed: 2'].value_counts(dropna=False))
print("**"*50)
print(data['Unnamed: 4'].value_counts(dropna=False))
print("**"*50)
print(data['Unnamed: 6'].value_counts(dropna=False))

NaN                   19046
EWS                       2
-99.3677716               1
321\n(99.8207600)         1
1268\n(99.3670474)        1
1266                      1
TFWS                      1
Name: Unnamed: 2, dtype: int64
****************************************************************************************************
NaN                    19049
ORPHAN                     2
64674\n(30.3715881)        1
54715\n(48.0511721)        1
Name: Unnamed: 4, dtype: int64
****************************************************************************************************
NaN                  19049
TFWS                     2
247\n(99.8580564)        1
25\n(99.9887749)         1
Name: Unnamed: 6, dtype: int64

In [237]:
for i in range(2,24,2):
    col_unwant='Unnamed: '+str(i)
    data.drop(col_unwant,axis=1,inplace=True)
#data.drop('Unnamed: 2',axis=1,inplace=True)
#data.drop('Unnamed: 4',axis=1,inplace=True)
#data.drop('Unnamed: 6',axis=1,inplace=True)
#data.drop('Unnamed: 8',axis=1,inplace=True)

# Changing column_name
- for simplicity

In [238]:
cols = []
count = 1
for column in data.columns:
    cols.append(count)
    count+=1
    continue
    
data.columns = cols

In [239]:
data

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,"1002 - Government College of Engineering, Amravati\n100219110 - Civil Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,GOPENS,GSCS,GSTS,GVJS,GNT2S,GOBCS,LOPENS,LSTS,LNT2S,LSEBCS,DEFOPENS,TFWS,NaN,NaN,NaN,NaN
2,I,9698\n(95.4813409),16599\n(91.9454241),28642\n(83.7510773),11127\n(94.7976941),19612\n(90.2192884),11430\n(94.6416286),8428\n(96.0918433),40288\n(71.0905760),11019\n(94.8483883),22466\n(88.4395617),15132\n(92.7416843),5336\n(97.5366265),NaN,NaN,NaN,NaN
3,100224210 - Computer Science and Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,GOPENS,GSCS,GSTS,GVJS,GNT1S,GNT3S,GSEBCS,LSCS,LNT1S,LOBCS,PWDOPENS,PWDOBCS,NaN,DEFOPENS,EWS,TFWS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19048,"693861210F - Mechanical Engineering\nStatus: Home University : Dr. Babasaheb Ambedkar Technological University,Lonere\nHome University Seats Allotted to Home University Candidates",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19049,NaN,LOPENH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19050,I,69650\n(24.0098347),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19051,"Legends: Starting character G-General, L-Ladies, End character H-Home University, O-Other than Home University,S-State Level, AI- All India Seat\n. Maharashtra State Seats - Cut Off Indicates Maharashtra State General Merit No.; Figures in bracket Indicates Merit Percentile.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Removing data which is not Required

In [240]:
extra_row_01=data.index[data[1]=="II"].tolist()
data.drop(extra_row_01,inplace=True)

extra_row_02=data.index[data[1]=='Legends: Starting character G-General, L-Ladies, End character H-Home University, O-Other than Home University,S-State Level, AI- All India Seat\n. Maharashtra State Seats - Cut Off Indicates Maharashtra State General Merit No.; Figures in bracket Indicates Merit Percentile.'].tolist()
data.drop(extra_row_02,inplace=True)

extra_row_03=data.index[data[1]=='Other Than Home University Seats Allotted to Other Than Home University Candidates'].tolist()
data.drop(extra_row_03,inplace=True)

extra_row_04=data.index[data[1]=='Home University Seats Allotted to Other Than Home University Candidates'].tolist()
data.drop(extra_row_04,inplace=True)

extra_row_05=data.index[data[1]=='State Level'].tolist()
data.drop(extra_row_05,inplace=True)

extra_row_06=data.index[data[1]=='Other Than Home University Seats Allotted to Home University Candidates'].tolist()
data.drop(extra_row_06,inplace=True)

extra_row07=data.index[data[1]=='TFWS'].tolist()
data.drop(extra_row_07,inplace=True)

## Fill Na values with " "

In [241]:
data.fillna(" ",inplace=True)

## Removing Blank rows

In [242]:
idx_col_01_blanks=data.index[data[1]==" "].tolist()
idx_col_02_blanks=data.index[data[2]==" "].tolist()
idx_col_03_blanks=data.index[data[3]==" "].tolist()

l1=[]
blank_rows=[]
for i in idx_col_01_blanks:
    if i in idx_col_02_blanks:
        l1.append(i)
for i in l1:
    if i in idx_col_03_blanks:
        blank_rows.append(i)
        
data.drop(blank_rows,inplace=True)

In [243]:
data

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,"1002 - Government College of Engineering, Amravati\n100219110 - Civil Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level",,,,,,,,,,,,,,,,
1,,GOPENS,GSCS,GSTS,GVJS,GNT2S,GOBCS,LOPENS,LSTS,LNT2S,LSEBCS,DEFOPENS,TFWS,,,,
2,I,9698\n(95.4813409),16599\n(91.9454241),28642\n(83.7510773),11127\n(94.7976941),19612\n(90.2192884),11430\n(94.6416286),8428\n(96.0918433),40288\n(71.0905760),11019\n(94.8483883),22466\n(88.4395617),15132\n(92.7416843),5336\n(97.5366265),,,,
3,100224210 - Computer Science and Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level,,,,,,,,,,,,,,,,
4,,GOPENS,GSCS,GSTS,GVJS,GNT1S,GNT3S,GSEBCS,LSCS,LNT1S,LOBCS,PWDOPENS,PWDOBCS,,DEFOPENS,EWS,TFWS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19046,,LOPENH,,,,,,,,,,,,,,,
19047,I,73173\n(20.5318540),,,,,,,,,,,,,,,
19048,"693861210F - Mechanical Engineering\nStatus: Home University : Dr. Babasaheb Ambedkar Technological University,Lonere\nHome University Seats Allotted to Home University Candidates",,,,,,,,,,,,,,,,
19049,,LOPENH,,,,,,,,,,,,,,,
19050,I,69650\n(24.0098347),,,,,,,,,,,,,,,

In [244]:
data.reset_index(drop=True,inplace=True)

# Task

In [245]:
data_01=data.iloc[:,:2]

In [246]:
data_01.columns = ['text',"score"]

In [247]:
data_01

,text,score
0,"1002 - Government College of Engineering, Amravati\n100219110 - Civil Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level",
1,,GOPENS
2,I,9698\n(95.4813409)
3,100224210 - Computer Science and Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level,
4,,GOPENS
...,...,...
12108,,LOPENH
12109,I,73173\n(20.5318540)
12110,"693861210F - Mechanical Engineering\nStatus: Home University : Dr. Babasaheb Ambedkar Technological University,Lonere\nHome University Seats Allotted to Home University Candidates",
12111,,LOPENH
12112,I,69650\n(24.0098347)

In [248]:
data_01.head()

,text,score
0,"1002 - Government College of Engineering, Amravati\n100219110 - Civil Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level",
1,,GOPENS
2,I,9698\n(95.4813409)
3,100224210 - Computer Science and Engineering\nStatus: Government Autonomous Home University : Sant Gadge Baba Amravati University\nState Level,
4,,GOPENS

# Arranging data into interpretable form

In [274]:
final_dict = {}
import re

for i in range(0,data_01.shape[0]):
    try:
        m = data_01.iloc[i:i+3]
        m = m.values

        text = " ".join([str(k) for k in m[:,0]]).strip()
        values = " ".join(m[:,1]).strip()

#        print(text)

        text = text.split("\n")
        vals = values.split("\n")
    
        final_dict[i] =  {}
    
        if len(text) == 4:
            final_dict[i]['College_code'] = re.findall("[0-9]+",text[0])[0]
            final_dict[i]['College_name'] = " ".join(re.findall("[a-zA-Z,]+",text[0]))
            final_dict[i]['Subject_code'] = re.findall("[0-9]+",text[1])[0]
        
            final_dict[i]['Subject_name'] = " ".join(re.findall("[a-zA-Z,]+",text[1]))
            
            final_dict[i]['Home University'] = " ".join(re.findall("[a-zA-Z,]+",text[2].split("Home University")[1]))


            final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals[0])[0]
            final_dict[i]['Rank'] = re.findall("[0-9]+",vals[0])[0]
            final_dict[i]['Score'] = re.findall("([0-9.]+)",vals[1])[0]
    
    
        elif len(text) == 3:
#             print(text)
                final_dict[i]['College_code'] = np.nan
                final_dict[i]['College_name'] = np.nan

                final_dict[i]['Subject_code'] = re.findall("[0-9]+",text[0])[0]
                final_dict[i]['Subject_name'] = " ".join(re.findall("[a-zA-Z,]+",text[0]))

                final_dict[i]['Home University'] = " ".join(re.findall("[a-zA-Z,]+",text[1].split("Home University")[1]))


                final_dict[i]['Cateogry'] = re.findall("[a-zA-Z]+",vals[0])[0]
                final_dict[i]['Rank'] = re.findall("[0-9]+",vals[0])[0]
                final_dict[i]['Score'] = re.findall("([0-9.]+)",vals[1])[0]
        else:
            pass
    except Exception as e:
        pass

In [250]:
data_02 = pd.DataFrame.from_records(final_dict).T.dropna(axis=0,how="all")
data_02 = data_02.drop_duplicates(['Subject_code','Subject_name'])

In [251]:
data_02

,College_code,College_name,Subject_code,Subject_name,Home University,Cateogry,Rank,Score
0,1002,"Government College of Engineering, Amravati",100219110,Civil Engineering,Sant Gadge Baba Amravati University,GOPENS,9698,95.4813409
1,NaN,NaN,100224210,I Computer Science and Engineering,Sant Gadge Baba Amravati University,GOPENS,9698,95.4813409
3,NaN,NaN,100224210,Computer Science and Engineering,Sant Gadge Baba Amravati University,GOPENS,3389,98.4034964
4,NaN,NaN,100224610,I Information Technology,Sant Gadge Baba Amravati University,GOPENS,3389,98.4034964
6,NaN,NaN,100224610,Information Technology,Sant Gadge Baba Amravati University,GOPENS,6384,97.0514111
...,...,...,...,...,...,...,...,...
12102,NaN,NaN,693829310,I F Electrical Engineering,"Dr Babasaheb Ambedkar Technological University,Lonere",EWS,86690,1.1949335
12104,NaN,NaN,693829310,F Electrical Engineering,"Dr Babasaheb Ambedkar Technological University,Lonere",LOPENH,50310,55.8309133
12105,6938,I Shree Siddheshwar Women s College Of Engineering Solapur,693837210,F Electronics and Telecommunication Engg,"Dr Babasaheb Ambedkar Technological University,Lonere",LOPENH,50310,55.8309133
12108,NaN,NaN,693861210,I F Mechanical Engineering,"Dr Babasaheb Ambedkar Technological University,Lonere",LOPENH,73173,20.5318540
12110,NaN,NaN,693861210,F Mechanical Engineering,"Dr Babasaheb Ambedkar Technological University,Lonere",LOPENH,69650,24.0098347

In [252]:
data_02.fillna(method="bfill").fillna(method='ffill')

,College_code,College_name,Subject_code,Subject_name,Home University,Cateogry,Rank,Score
0,1002,"Government College of Engineering, Amravati",100219110,Civil Engineering,Sant Gadge Baba Amravati University,GOPENS,9698,95.4813409
1,1002,"I Government College of Engineering, Amravati",100224210,I Computer Science and Engineering,Sant Gadge Baba Amravati University,GOPENS,9698,95.4813409
3,1002,"I Government College of Engineering, Amravati",100224210,Computer Science and Engineering,Sant Gadge Baba Amravati University,GOPENS,3389,98.4034964
4,1002,"I Government College of Engineering, Amravati",100224610,I Information Technology,Sant Gadge Baba Amravati University,GOPENS,3389,98.4034964
6,1002,"I Government College of Engineering, Amravati",100224610,Information Technology,Sant Gadge Baba Amravati University,GOPENS,6384,97.0514111
...,...,...,...,...,...,...,...,...
12102,6938,I Shree Siddheshwar Women s College Of Engineering Solapur,693829310,I F Electrical Engineering,"Dr Babasaheb Ambedkar Technological University,Lonere",EWS,86690,1.1949335
12104,6938,I Shree Siddheshwar Women s College Of Engineering Solapur,693829310,F Electrical Engineering,"Dr Babasaheb Ambedkar Technological University,Lonere",LOPENH,50310,55.8309133
12105,6938,I Shree Siddheshwar Women s College Of Engineering Solapur,693837210,F Electronics and Telecommunication Engg,"Dr Babasaheb Ambedkar Technological University,Lonere",LOPENH,50310,55.8309133
12108,6938,I Shree Siddheshwar Women s College Of Engineering Solapur,693861210,I F Mechanical Engineering,"Dr Babasaheb Ambedkar Technological University,Lonere",LOPENH,73173,20.5318540
12110,6938,I Shree Siddheshwar Women s College Of Engineering Solapur,693861210,F Mechanical Engineering,"Dr Babasaheb Ambedkar Technological University,Lonere",LOPENH,69650,24.0098347

In [253]:
data_02.reset_index(drop=True,inplace=True)

## Extracting all the colleges which comes under Savitribai Phule Pune University

In [254]:
not_savitribai_clgs=data_02.index[data_02["Home University"]!="Savitribai Phule Pune University"].tolist()
print(len(not_savitribai_clgs))
data_02.drop(not_savitribai_clgs,inplace=True)

1457

# Extracting data of civil engineering

In [255]:
not_civil=data_02.index[data_02["Subject_name"]!="Civil Engineering"].tolist()
print(len(not_civil))
data_02.drop(not_civil,inplace=True)

549

In [256]:
data_02.reset_index(drop=True,inplace=True)

In [257]:
data_02

,College_code,College_name,Subject_code,Subject_name,Home University,Cateogry,Rank,Score
0,5108,"I Nashik District Maratha Vidya Prasarak Samaj s Karmaveer Adv Babaurao Ganpatrao Thakare College of Engineering, Nashik",510819110,Civil Engineering,Savitribai Phule Pune University,GOPENO,52859,51.2825619
1,5109,"I Sandip Foundation, Sandip Institute of Technology and Research Centre, Mahiravani, Nashik",510919110,Civil Engineering,Savitribai Phule Pune University,TFWS,22507,88.4145767
2,5121,"I K K Wagh Institute of Engineering Education and Research, Nashik",512119110,Civil Engineering,Savitribai Phule Pune University,TFWS,38384,73.4587169
3,5121,"I K K Wagh Institute of Engineering Education and Research, Nashik",512119120,Civil Engineering,Savitribai Phule Pune University,EWS,69033,24.6695828
4,5124,"I Jagadamba Education Soc Nashik s S N D College of Engineering Reserch, Babulgaon",512419110,Civil Engineering,Savitribai Phule Pune University,EWS,47856,59.9932649
...,...,...,...,...,...,...,...,...
74,6795,"I Shri Someshwar Shikshan Prasarak Mandals, Someshwar Engineering College, Someshwar Nagar",679519110,Civil Engineering,Savitribai Phule Pune University,GOPENH,85941,2.7204652
75,6796,"I Bharati Vidyapeeth s College of Engineering,Lavale, Pune",679619110,Civil Engineering,Savitribai Phule Pune University,LOPENO,79466,13.2999718
76,6802,"I Dr D Y Patil Institute of Engineering, Management Reseach, Akurdi, Pune",680219110,Civil Engineering,Savitribai Phule Pune University,GOPENO,52645,51.6866667
77,6822,"I Pimpri Chinchwad Education Trust s Pimpri Chinchwad College Of Engineering And Research, Ravet",682219110,Civil Engineering,Savitribai Phule Pune University,TFWS,43469,66.6548380
78,6834,"I Dr D Y Patil College Of Engineering Innovation,Talegaon",683419110,Civil Engineering,Savitribai Phule Pune University,DEFOPENS,16178,92.1746341

In [225]:
#required_cate=["GOPENH","GOPENS"]

In [226]:
#data_02[(data_02["Cateogry"]=="GOPENH") & (data_02["Cateogry"]=="GOPENS")]

In [258]:
gopenh=data_02.index[data_02["Cateogry"]=="GOPENH"].tolist()
print(gopenh)
gopens=data_02.index[data_02["Cateogry"]=="GOPENS"].tolist()
print(gopens)

[6, 8, 13, 15, 16, 20, 22, 23, 25, 35, 43, 46, 54, 61, 63, 64, 65, 71, 72, 73, 74]
[9, 28, 32, 34, 52]

In [263]:
not_gopens_h=[]
for i in range(0,79):
    if (i not in gopenh) & (i not in gopens):
        not_gopens_h.append(i)

In [265]:
print(not_gopens_h)

[0, 1, 2, 3, 4, 5, 7, 10, 11, 12, 14, 17, 18, 19, 21, 24, 26, 27, 29, 30, 31, 33, 36, 37, 38, 39, 40, 41, 42, 44, 45, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 62, 66, 67, 68, 69, 70, 75, 76, 77, 78]

In [266]:
data_02.drop(not_gopens_h,inplace=True)

In [232]:
#data_02["Cateogry"]=="GOPENS"

In [267]:
data_02.drop(data_02.index[data_02.Rank.isnull()],inplace=True)

data_02["Rank"]=data_02["Rank"].astype(int)

In [268]:
data_02

,College_code,College_name,Subject_code,Subject_name,Home University,Cateogry,Rank,Score
6,5139,"I Pravara Rural College of Engineering, Loni, Pravaranagar, Ahmednagar",513919110,Civil Engineering,Savitribai Phule Pune University,GOPENH,59802,38.7118617
8,5160,"I Sanjivani Rural Education Society s Sanjivani College of Engineering, Kopargaon",516019110,Civil Engineering,Savitribai Phule Pune University,GOPENH,63038,32.9012261
9,5161,"I Dr Vithalrao Vikhe Patil College of Engineering, Ahmednagar",516119110,Civil Engineering,Savitribai Phule Pune University,GOPENS,33509,79.0915609
13,5177,"I Matoshri College of Engineering and Research Centre, Eklahare, Nashik",517719110,Civil Engineering,Savitribai Phule Pune University,GOPENH,72266,21.4280541
15,5181,"I Gokhale Education Society s, R H Sapat College of Engineering, Management Studies and Research, Nashik",518119110,Civil Engineering,Savitribai Phule Pune University,GOPENH,61863,34.9282678
16,5184,"I Amruta Vaishnavi Education Welfare Trust s Shatabdi Institute of Engineering Research, Agaskhind Tal Sinnar",518419110,Civil Engineering,Savitribai Phule Pune University,GOPENH,42056,68.7108478
20,5382,"I Ahmednagar Jilha Maratha Vidya Prasarak Samajache, Shri Chhatrapati Shivaji Maharaj College of Engineering, Nepti",538219110,Civil Engineering,Savitribai Phule Pune University,GOPENH,62525,33.8311016
22,5399,"I Sanghavi College of Engineering, Varvandi, Nashik",539919110,Civil Engineering,Savitribai Phule Pune University,GOPENH,39724,71.8466430
23,5401,"I Jawahar Education Society s Institute of Technology, Management Research, Nashik",540119110,Civil Engineering,Savitribai Phule Pune University,GOPENH,54056,49.2558823
25,5411,"I Maulana Mukhtar Ahmad Nadvi Technical Campus, Malegaon",541119110,Civil Engineering,Savitribai Phule Pune University,GOPENH,84971,4.6301862
28,6006,"I College of Engineering, Pune",600619110,Civil Engineering,Savitribai Phule Pune University,GOPENS,5287,97.5594389
32,6144,"I Genba Sopanrao Moze College of Engineering, Baner Balewadi, Pune",614419110,Civil Engineering,Savitribai Phule Pune University,GOPENS,31092,81.4897562
34,6149,"I Choudhary Attar Singh Yadav Memorial Trust,Siddhant College of Engineering, Maval",614919110,Civil Engineering,Savitribai Phule Pune University,GOPENS,13668,93.5151322
35,6155,"I G H Raisoni College of Engineering Management, Wagholi, Pune",615519110,Civil Engineering,Savitribai Phule Pune University,GOPENH,83161,7.7616361
43,6182,"I Sinhgad Technical Education Society, Sinhgad Institute of Technology and Science, Narhe Ambegaon",618219110,Civil Engineering,Savitribai Phule Pune University,GOPENH,82426,8.9851756
46,6203,"I Marathwada Mitra Mandal s Institute of Technology, Lohgaon, Pune",620319110,Civil Engineering,Savitribai Phule Pune University,GOPENH,52876,51.2525075
52,6284,"I Vidya Pratishthan s Kamalnayan Bajaj Institute of Engineering Technology, Baramati Dist Pune",628419110,Civil Engineering,Savitribai Phule Pune University,GOPENS,62081,34.5075064
54,6298,"I Zeal Education Society s Zeal College of Engineering Reserch, Narhe, Pune",629819110,Civil Engineering,Savitribai Phule Pune University,GOPENH,84840,4.8688108
61,6620,"I D Y Patil Institute of Engineering and Technology, Ambi",662019110,Civil Engineering,Savitribai Phule Pune University,GOPENH,84504,5.4572250
63,6632,I Navsahyadri Education Society s Group of Institutions,663219110,Civil Engineering,Savitribai Phule Pune University,GOPENH,81450,10.5150525
64,6634,"I KJEI s Trinity Academy of Engineering, Yewalewadi, Pune",663419110,Civil Engineering,Savitribai Phule Pune University,GOPENH,67425,26.5459905
65,6635,"I Samarth Group of Institutions, Bangarwadi, Post Belhe Tal Junnar Dist Pune",663519110,Civil Engineering,Savitribai Phule Pune University,GOPENH,81897,9.8234395
71,6769,"I Rasiklal M Dhariwal Sinhgad Technical Institutes Campus, Warje, Pune",676919110,Civil Engineering,Savitribai Phule Pune University,GOPENH,79696,13.0262234
72,6787,"I Dr D Y Patil Educational Academy s, D Y Patil School of Engineering Academy, Ambi",678719110,Civil Engineering,Savitribai Phule Pune University,GOPENH,61907,34.8667106
73,6794,"I Anantrao Pawar College of Engineering Research, Pune",679419110,Civil Engineering,Savitribai Phule Pune University,GOPENH,60151,38.0521136
74,6795,"I Shri Someshwar Shikshan Prasarak Mandals, Someshwar Engineering College, Someshwar Nagar",679519110,Civil Engineering,Savitribai Phule Pune University,GOPENH,85941,2.7204652

In [269]:
data_03=data_02.sort_values(by = "Rank",ascending=True).iloc[:11,:]

In [270]:
data_03.reset_index(drop=True,inplace=True)

In [271]:
data_03

,College_code,College_name,Subject_code,Subject_name,Home University,Cateogry,Rank,Score
0,6006,"I College of Engineering, Pune",600619110,Civil Engineering,Savitribai Phule Pune University,GOPENS,5287,97.5594389
1,6149,"I Choudhary Attar Singh Yadav Memorial Trust,Siddhant College of Engineering, Maval",614919110,Civil Engineering,Savitribai Phule Pune University,GOPENS,13668,93.5151322
2,6144,"I Genba Sopanrao Moze College of Engineering, Baner Balewadi, Pune",614419110,Civil Engineering,Savitribai Phule Pune University,GOPENS,31092,81.4897562
3,5161,"I Dr Vithalrao Vikhe Patil College of Engineering, Ahmednagar",516119110,Civil Engineering,Savitribai Phule Pune University,GOPENS,33509,79.0915609
4,5399,"I Sanghavi College of Engineering, Varvandi, Nashik",539919110,Civil Engineering,Savitribai Phule Pune University,GOPENH,39724,71.8466430
5,5184,"I Amruta Vaishnavi Education Welfare Trust s Shatabdi Institute of Engineering Research, Agaskhind Tal Sinnar",518419110,Civil Engineering,Savitribai Phule Pune University,GOPENH,42056,68.7108478
6,6203,"I Marathwada Mitra Mandal s Institute of Technology, Lohgaon, Pune",620319110,Civil Engineering,Savitribai Phule Pune University,GOPENH,52876,51.2525075
7,5401,"I Jawahar Education Society s Institute of Technology, Management Research, Nashik",540119110,Civil Engineering,Savitribai Phule Pune University,GOPENH,54056,49.2558823
8,5139,"I Pravara Rural College of Engineering, Loni, Pravaranagar, Ahmednagar",513919110,Civil Engineering,Savitribai Phule Pune University,GOPENH,59802,38.7118617
9,6794,"I Anantrao Pawar College of Engineering Research, Pune",679419110,Civil Engineering,Savitribai Phule Pune University,GOPENH,60151,38.0521136
10,5181,"I Gokhale Education Society s, R H Sapat College of Engineering, Management Studies and Research, Nashik",518119110,Civil Engineering,Savitribai Phule Pune University,GOPENH,61863,34.9282678

# Submission file

In [272]:
data_03.to_csv(r"Top_10_civil_clg_of_savitribai.csv",index=False)